div#a{
width:400px;
position:absolute;	
top:30px;
left:550;
border-radius:50px 20px 50px 20px;
box-shadow: 5px 10px 15px 10px orange, -5px -10px 15px 10px blue;
}
div#b{
width:400px;
position:absolute;	
top:55px;
left:85;
}
div#c{
width:400px;
position:absolute;
top:-10px;	
left:10;
}
div#d{
width:400px;
position:absolute;
top:396px;	
left:830;
}
div#e{
width:400px;
position:absolute;
top:271px;	
left:1035;
}
div#f{
width:400px;
height:10px;
position:absolute;
top:270px;	
left:402;
}
div#g{
width:400px;
height:50px;
position:absolute;
top:515px;	
left:-10px;
}
div#h{
width:400px;
height:50px;
position:absolute;
top:510px;	
left:-10px;
}