div#a{
width:500px;
position:absolute;	
top:2380px;
left:650px;
}

div#y{
position:absolute;	
top:650px;
left:1445px;
position:fixed;
width:45px;
height:45px;
bottom:20px;
right:20px;
background-color:#0C9;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}