div#c{
color:red;
position:absolute;
left:590;
top:160px;
}
div#d{
color:red;
position:absolute;
left:830;
top:170px;
}
div#e{
position:absolute;	
top:30px;
left:80px;
}
div#f{
position:absolute;	
top:10px;
left:1330px;
}
div#g{
position:absolute;	
top:973px;
left:717px;
}
div#h{
position:absolute;	
top:985px;
left:1080px;
}
div#i{
position:absolute;	
top:1690px;
left:717px;
}
div#j{
position:absolute;	
top:1705px;
left:1080px;
}
div#k{
position:absolute;	
top:2405px;
left:717px;
}
div#l{
position:absolute;	
top:2430px;
left:1080px;
}
div#m{
position:absolute;	
top:3615px;
left:720px;
}
div#n{
position:absolute;	
top:3625px;
left:1080px;
}
div#o{
position:absolute;	
top:4340px;
left:720px;
}
div#p{
position:absolute;	
top:4355px;
left:1080px;
}
div#q{
position:absolute;	
top:5488px;
left:720px;
}
div#r{
position:absolute;	
top:5505px;
left:1080px;
}

div#ma{
position:absolute;	
top:1410px;
left:1125px;
} 

div#mb{
position:absolute;	
top:2125px;
left:1125px;
} 

div#mc{
position:absolute;	
top:2850px;
left:1125px;
} 

div#md{
position:absolute;	
top:4060px;
left:1125px;
} 

div#me{
position:absolute;	
top:4775px;
left:1125px;
} 

div#mf{
position:absolute;	
top:5977px;
left:1125px;
} 

div#na{
position:absolute;	
top:1460px;
left:1125px;
}


div#nb{
position:absolute;	
top:2175px;
left:1125px;
}


div#nc{
position:absolute;	
top:2900px;
left:1125px;
}


div#nd{
position:absolute;	
top:4110px;
left:1125px;
}


div#ne{
position:absolute;	
top:4825px;
left:1125px;
}


div#nf{
position:absolute;	
top:6027px;
left:1125px;
}



div#s{
width:400px;
position:absolute;	
top:392px;
left:-14px;
}

div#t{
width:397px;
position:absolute;	
top:392px;
left:1115;
}

div#u{
position:absolute;	
top:326px;
left:186px;
}

div#v{
position:absolute;	
top:326px;
left:1px;
}

div#w{
position:absolute;	
top:326px;
left:1308;
}

div#x{
position:absolute;	
top:326px;
left:1115px;
}

div#y{
position:absolute;	
top:650px;
left:1445px;
position:fixed;
width:45px;
height:45px;
bottom:20px;
right:20px;
background-color:#0C9;
color:#FFF;
border-radius:50px;
text-align:center;
box-shadow: 2px 2px 3px #999;
}





